* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

/*navbar*/
.navbar {
    background: #1D2424;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999; 
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: grey;
    background-image: linear-gradient(to top, grey 0%, #1D2424);
    background-size: 100%;
    background-clip: text;
    font-weight: bold;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    justify-content: space-around;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 3rem;
    height: 100%;
    width: auto;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: grey;
    color: #1D2424;
}

.button:hover {
    background: white;
    transition: all 0.5s ease;
}

.navbar_links:hover {
    color: white;
    transition: all 0.5s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #1D2424;
    }

    .navbar_menu.active {
        background: #1D2424;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: grey;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*hero*/
.main {
    background-color: grey;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90vh;
    background-color: grey;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    flex: 1;
}

.main_content h1 {
    font-size: 4rem;
    background-color: #1D2424;
    background-image: linear-gradient(to top, #1D2424, #414a4c);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content h2 {
    font-size: 2rem;
    background-color: #1D2424;
    background-image: linear-gradient(to top, #414a4c, #1D2424);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main_btn {
    font-size: 1rem;
    background-color: grey;
    padding: 14px 32px;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    outline: none;
}

.main_btn a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.main_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #1D2424;
    transition: all 0.5s;
    border-radius: 4px;
}

.main_btn:hover {
    color: white;
}

.main_btn:hover:after {
    width: 100%;
}

.main_img-container {
    text-align: center;
}

#main_img {
    height: 100%;
    width: 100%;
}

/*services*/
.services {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5rem 0;
}

.services h1 {
    background-color: red;
    background-image: linear-gradient(to right, #414a4c 0%, #1D2424 50%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}

.services_card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, 
        rgba(17,17,17,0.6) 100%),
        url('20230713_080035154_iOS.jpg');
    background-size: cover;
    position: relative;
    color: white;
}

.services_card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, 
        rgba(17,17,17,0.6) 100%),
        url('https://raw.githubusercontent.com/shashankcods/tutorialWebsite/refs/heads/master/unnamed.jpg');
}

.services_card:nth-child(3) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, 
        rgba(17,17,17,0.6) 100%),
        url('unnamed1.jpg');
}

.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services_card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services_card button {
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: green;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services_card:hover {
    transform: scale(1.065);
    transition: 0.2s ease-in;
    cursor: pointer;
}

/*footer*/
.footer_container {
    background-color: #1D2424;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
}

.footer_container p {
    color: white;
}

@media screen and (max-width: 768px) {
    .main_container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main_content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main_content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main_content h2 {
        font-size: 3rem;
    }

    .main_content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 960px) {
    .services {
        padding: 3rem 0;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 460px) {
    .services {
        padding: 2rem 0;
    }

    .main_content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main_content h2 {
        font-size: 2rem;
    }

    .main_content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main_btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }

    .services_card {
        width: 300px;
    }
}

.page2_container {
    background-color: grey;
    height: 100vh;
    width: 100%;
}

.page2_text {
    justify-self: center;
    justify-items: center;
    padding-top: 20%;
    color: #1D2424;
}

.page2_text h1 {
    font-size: 3rem;
}

.page2_text h2 {
    font-size: 2rem;
} 

.page2_text h3 {
    font-size: 1.3rem;
}
